button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.buttons {
    margin: 1em auto 1.3em 3em;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 5px;
    position: relative;
    overflow: visible;
    &:after {
        content: "";
        display: block;
        width: 42%;
        height: 2px;
        position: absolute;
        background: black;
        transition: all 0.1s linear;
        margin-top: 5px;
    }

    &:disabled {
        color: grey;
    }

    &:disabled:after {
        background: grey;
    }

    &.hover:after,
    &:hover:after {
        width: 100%;
    }
}
